@font-face {
    font-family: roboto_black;
    src: url(roboto_black.ttf);
  }
@font-face {
    font-family: roboto_bold;
    src: url(roboto_bold.ttf);
}
:root {
    /* COLORS */
    --background-color: #f1f1f1;
    --main-color: rgb(21, 21, 21);
    --secondary-color: rgb(55, 55, 55);
    --white: #fff;

    /* FONTS */
    --font-black: roboto_black;
    --font-bold: roboto_bold;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: var(--font-black);
    background-color: var(--background-color);
}
.myheader{
    display: flex;
    position: relative;
    background-color: red;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.portrait{
    align-items: end;
    width: 600px;
}
.portrait_container{
    display: flex;
    justify-content: end;
}
.h-text{
    width: 40%;
}


.c {
    margin: 0 auto;
    padding: 50px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative;
}

h1 {
    color: var(--main-color);
    font-size: 4em;
}

p {
    color: var(--secondary-color);
    font-size: 2em;
}
a{
    color: var(--secondary-color);
    text-decoration: underline;
}
.header-space{
    margin: 0px 50px;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
}
.v-space{
    margin: 50px 0px;
}
.v-space-small{
    margin: 15px 0px;
}
.h-space{
    margin: 0px 50px;
}
.h-space-big{
    margin: 0px 200px;
}
.space60{
    margin: 0px 10% 0px 10%;
}
.indent{
    margin-left: 50px;
}

.footer{
    font-size: 10px;
}
.width50{
    width: 50%;
}
/*PORTFOLIO BUTTON*/
.portfoliobtndiv{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.portfoliobtn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #1215cf; /* Blue */
  color: white;
  text-decoration: none;
  font-size: 2.1em;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.portfoliobtn:hover {
  background-color: #434343; /* Darker blue */
}






/*STRENGTHS*/
.strength{
    margin: 20px -50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}
.strength > p{
    color: var(--white);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    margin: 100px 0px 100px 50px;
}
.strengths1{
    background: url(camera_banner_c.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right !important;
}
.strengths2{
    background: url(web_banner_c.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right !important;
}
.strengths3{
    background: url(video_banner_c.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right !important;
}
.strengths4{
    background: url(media_banner_c.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right !important;
}
.strengths5{
    background: url(bodybuilding_banner.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right !important;
}




@media only screen and (min-width: 1730px){
    strengths1, .strengths2, .strengths4{
        background-position: top -3vw right !important;
    }
}
@media only screen and (max-width: 1730px){
    .strengths1, .strengths2, .strengths3, .strengths4, .strengths5{
        background-size: 100%;
    }
    .portrait{
        width: 500px;
    }
}
@media only screen and (max-width: 1415px){
    .header .column{
        max-width: 600px;
    }
    h1{
        font-size: 3.5em;
    }
    p{
        font-size: 1.8em;
    }
    .portfoliobtn{
        font-size: 1.9em;
    }
}
@media only screen and (max-width: 1200px){
    .strengths1, .strengths2, .strengths4, .strengths5{
        background-size: 130%;
    }
    .strengths3{
        background-position: -270px -30px !important;
        background-size: 130%;
    }
    .portrait{
        width: 400px;
    }
}
@media only screen and (max-width: 1169px){
    .footer .row{
        margin: 0px 50px;
    }
    h1{
        font-size: 3em;
    }
    p, .portfoliobtn{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 1020px){
    .strengths1, .strengths2, .strengths4{        
        background-position: -450px -30px;
        background-size: 150%;
    }
    .strengths3{
        background-position: -550px -65px !important;
        background-size: 170%;
    }
    .strengths5{
        background-position: -430px -30px !important;
        background-size: 150%;
    }
}
@media only screen and (max-width: 900px){
    .strengths1, .strengths2, .strengths4{        
        background-size: 170%;
    }
    .strengths5{
        background-position: right -70px center !important;
        background-size: 170%;
    }
    .strengths3{
        background-position: right -120px center !important;
        background-size: 170%;
    }
    .h-text{
        position: absolute;
        bottom: 10%;
        z-index: 1;
        width: 90% !important;
        padding-left: 10%;
        margin: 0;
        background-color: rgb(255, 255, 255, 0.7);
    }

    .portrait{
        width: 500px;
    }




    .footer > div{
        flex-direction: column;
    }
    .footer .column{
        width: 100%;
    }
    .h-text{
        width: fit-content;
    }
}

@media only screen and (max-width: 800px){
    h1{
        font-size: 2.8em;
    }
    p, .portfoliobtn{
        font-size: 1.3em;
    }
    .header .column{
        margin: 0px 50px;
    }
    .footer{
        font-size: 13px;
    }
}
@media only screen and (max-width: 671px){
    .header{
        height: 680px;
    }
    
    .c{
        padding: 50px 0px;
    }
    .strength{
        margin: 10px 0px;
    }
    .portrait{
        width: 400px;
    }
}
@media only screen and (max-width: 680px){
    .strengths1, .strengths2, .strengths4{        
        background-size: 230%;
    }
    .strengths5{
        background-position: right -100px center !important;
        background-size: 240%;
    }
    .strengths3{
        background-position: right -150px center !important;
        background-size: 240%;
    }
}
@media only screen and (max-width: 550px){
    .header{
        height: 600px;
    }
}
@media only screen and (max-width: 510px){
    .strengths1, .strengths2, .strengths4{
        background-position: right -60px center !important;
        background-size: 310%;
    }
    .strengths5{
        background-position: right -140px center !important;
        background-size: 330%;
    }
    .strengths3{
        background-position: right -200px center !important;
        background-size: 330%;
    }
}
@media only screen and (max-width: 415px){
    .strengths1, .strengths2, .strengths4{
        background-position: right -20px center !important;
        background-size: 210%;
    }
    .strengths3{
        background-position: right -100px center !important;
        background-size: 250%;
    }
    .strength > p{
        margin: 50px 0px 50px 50px;
    }
}
@media only screen and (max-width: 380px){
    .h-text{
        bottom: 80px;
    }
    .header{
        height: 570px;
    }
}